.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.default-day-box {
    @extend .unselectable;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    display: inline-flex;
    border-radius: 3px;
    -webkit-box-shadow: 6px 6px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 11px -5px rgba(0,0,0,0.75);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    padding: 3px;
    margin: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.checked-day-box {
    @extend .unselectable;
    background-color: lightgreen;
}