.child-info-container {
    border: 1px dashed gray;
    padding: 5px;
    vertical-align: middle;
    flex: 0 0 15%;
}

.inline-block-wrapper {
    display: flex;
    flex: 0 0 75%;
    flex-wrap: wrap;
}

.content-wrapper {
    margin-top: 10px;
    vertical-align: middle;
    display: flex;
}

.action-bar {
    flex: 0 0 10%;
    text-align: center;
    min-width: 90px;
}